html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* !!! CSS RESET !!! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Colors */
@-webkit-keyframes position_change {
  0% {
    transform: translate(0, 0) rotate(0deg); }
  24% {
    transform: translate(95vw, 0) rotate(0deg); }
  25% {
    transform: translate(95vw, 0) rotate(90deg); }
  49% {
    transform: translate(95vw, 87vh) rotate(90deg); }
  50% {
    transform: translate(95vw, 87vh) rotate(180deg); }
  74% {
    transform: translate(0, calc(87vh)) rotate(180deg); }
  75% {
    transform: translate(0, calc(87vh)) rotate(270deg); }
  99% {
    transform: translate(0, 0) rotate(270deg); }
  100% {
    transform: translate(0, 0) rotate(360deg); } }
@keyframes position_change {
  0% {
    transform: translate(0, 0) rotate(0deg); }
  24% {
    transform: translate(95vw, 0) rotate(0deg); }
  25% {
    transform: translate(95vw, 0) rotate(90deg); }
  49% {
    transform: translate(95vw, 87vh) rotate(90deg); }
  50% {
    transform: translate(95vw, 87vh) rotate(180deg); }
  74% {
    transform: translate(0, calc(87vh)) rotate(180deg); }
  75% {
    transform: translate(0, calc(87vh)) rotate(270deg); }
  99% {
    transform: translate(0, 0) rotate(270deg); }
  100% {
    transform: translate(0, 0) rotate(360deg); } }
@-webkit-keyframes wave {
  0% {
    top: 0; }
  50% {
    top: 1rem; }
  100% {
    top: 0; } }
@keyframes wave {
  0% {
    top: 0; }
  50% {
    top: 2rem; }
  100% {
    top: 0; } }
@-webkit-keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes circle1 {
  from {
    -webkit-transform: rotateZ(360deg); }
  to {
    -webkit-transform: rotateZ(0deg); } }
@-webkit-keyframes ccircle {
  from {
    -webkit-transform: rotateZ(0deg) scaleX(0.7); }
  to {
    -webkit-transform: rotateZ(360deg) scaleX(0.7); } }
html {
  font-size: 22px; }

#site {
  font-family: 'Crimson Text', serif;
  padding: 2rem 2rem 2rem 2rem;
  background-color: #fff;
  color: #000099; }
  #site i {
    font-style: italic; }
  #site header {
    font-size: 4rem;
    color: yellow; }
    #site header span {
      position: fixed;
      width: 3rem;
      height: 3rem;
      text-align: center;
      vertical-align: middle;
      z-index: 1000;
      top: 0;
      left: 0;
      opacity: 0; }
      #site header span:nth-child(1) {
        -webkit-animation: position_change 20s 4.5s linear infinite, wave 2s linear infinite, opacity 0.5s 4.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 4.5s linear infinite, wave 2s linear infinite, opacity 0.5s 4.5s linear forwards; }
      #site header span:nth-child(2) {
        -webkit-animation: position_change 20s 4s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 4s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 4s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 4s linear forwards; }
      #site header span:nth-child(3) {
        -webkit-animation: position_change 20s 3.5s linear infinite, wave 2s linear infinite, opacity 0.5s 3.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 3.5s linear infinite, wave 2s linear infinite, opacity 0.5s 3.5s linear forwards; }
      #site header span:nth-child(4) {
        -webkit-animation: position_change 20s 3s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 3s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 3s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 3s linear forwards; }
      #site header span:nth-child(5) {
        -webkit-animation: position_change 20s 2.5s linear infinite, wave 2s linear infinite, opacity 0.5s 2.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 2.5s linear infinite, wave 2s linear infinite, opacity 0.5s 2.5s linear forwards; }
      #site header span:nth-child(6) {
        -webkit-animation: position_change 20s 2s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 2s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 2s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 2s linear forwards; }
      #site header span:nth-child(7) {
        -webkit-animation: position_change 20s 1.5s linear infinite, wave 2s linear infinite, opacity 0.5s 1.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 1.5s linear infinite, wave 2s linear infinite, opacity 0.5s 1.5s linear forwards; }
      #site header span:nth-child(8) {
        -webkit-animation: position_change 20s 1s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 1s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 1s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 1s linear forwards; }
      #site header span:nth-child(9) {
        -webkit-animation: position_change 20s 0.5s linear infinite, wave 2s linear infinite, opacity 0.5s 0.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 0.5s linear infinite, wave 2s linear infinite, opacity 0.5s 0.5s linear forwards; }
      #site header span:nth-child(10) {
        -webkit-animation: position_change 20s linear infinite, wave 2s 1s linear infinite, opacity 0.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s linear infinite, wave 2s 1s linear infinite, opacity 0.5s linear forwards; }
  #site #website_intro {
    font-size: 2.3rem;
    margin-bottom: 1rem; }
  #site #open_modal {
    position: relative;
    float: right;
    font-size: 2.3rem;
    /*text-decoration: underline;*/
    margin: 0rem 4rem 4rem 0;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg); }
    #site #open_modal:after {
      content: '';
      left: 0;
      top: -2.8rem;
      position: absolute;
      width: 10rem;
      height: 8.5rem;
      background-image: url(../images/star.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1; }
  #site #elipse {
    margin-top: 1rem;
    margin-bottom: 2rem; }
  #site #featured_content {
    position: relative;
    border-radius: 50%;
    margin: 3rem 0 10rem 10vw;
    width: 40vw;
    height: 40vw;
    transform: scaleX(1.5);
    border: 3px solid #000099; }
    #site #featured_content .rotate {
      position: absolute;
      width: 40vw;
      height: 40vw; }
      #site #featured_content .rotate:nth-child(1) {
        -webkit-animation: circle1 12s infinite linear; }
        #site #featured_content .rotate:nth-child(1) .featured_link {
          -webkit-animation: ccircle 12s infinite linear; }
      #site #featured_content .rotate:nth-child(2) {
        -webkit-animation: circle1 12s 4s infinite linear; }
        #site #featured_content .rotate:nth-child(2) .featured_link {
          -webkit-animation: ccircle 12s 4s infinite linear; }
      #site #featured_content .rotate:nth-child(3) {
        -webkit-animation: circle1 12s 8s infinite linear; }
        #site #featured_content .rotate:nth-child(3) .featured_link {
          -webkit-animation: ccircle 12s 8s infinite linear; }
  #site .featured_link {
    position: absolute !important;
    padding-bottom: 30% !important;
    width: 30% !important; }
    #site .featured_link:nth-child(1) {
      top: 0;
      left: 0; }
    #site .featured_link:nth-child(2) {
      top: 0;
      left: 50%; }
    #site .featured_link:nth-child(3) {
      bottom: 0;
      right: 0%; }
  #site #megaphone {
    position: absolute;
    right: 0;
    margin-top: -18rem;
    width: 30%; }
  #site #projects_container {
    width: 100%;
    /*border-top: 3px solid $dark_blue;
    border-left: 3px solid $dark_blue;
    border-right: 3px solid $dark_blue;*/
    box-sizing: border-box;
    display: inline-block;
    text-align: center; }
  #site .project_section {
    vertical-align: top;
    clear: both;
    display: inline-block;
    width: 33.33%;
    box-sizing: border-box; }
    #site .project_section:nth-child(1) {
      /*border-right: 3px solid $yellow;*/ }
    #site .project_section:nth-child(3) {
      /*border-left: 3px solid $yellow;*/ }
  #site.locked #project_section_header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 100;
    background: #fff;
    border-bottom: 3px solid #000099; }
  #site.locked .project_section {
    padding-top: 3rem; }
    #site.locked .project_section:nth-child(3) {
      border-right: 3px solid #ffe60e;
      border-left: 3px solid #ffe60e; }
  #site .project_section:nth-child(3) {
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    transition: border-left ease 0.7s, border-right ease 0.7s; }
  #site #project_section_header_container {
    position: relative;
    border-bottom: 3px solid transparent;
    transition: border-bottom ease 0.7s; }
  #site .project_section_header {
    display: inline-block;
    width: 33.33%;
    padding: 1rem 0;
    /*border-bottom: 3px solid $dark_blue;*/
    text-transform: uppercase; }
  #site .doc_link {
    background-image: url(../images/homepage/square.svg); }
    #site .doc_link:hover {
      background-image: url(../images/homepage/square-fill.svg); }
  #site .gathering_link {
    background-image: url(../images/homepage/circle.svg); }
    #site .gathering_link:hover {
      background-image: url(../images/homepage/circle-fill.svg); }
  #site .network_link {
    background-image: url(../images/homepage/triangle.svg); }
    #site .network_link:hover {
      background-image: url(../images/homepage/triangle-fill.svg); }
  #site .doc_link,
  #site .gathering_link,
  #site .network_link {
    display: block;
    position: relative;
    margin: 2rem auto;
    text-decoration: none;
    width: 70%;
    padding-bottom: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    #site .doc_link:hover img,
    #site .gathering_link:hover img,
    #site .network_link:hover img {
      display: none; }
    #site .doc_link img,
    #site .doc_link span,
    #site .gathering_link img,
    #site .gathering_link span,
    #site .network_link img,
    #site .network_link span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #site .doc_link img,
    #site .gathering_link img,
    #site .network_link img {
      display: block;
      max-width: 70%;
      max-height: 70%;
      margin: 0 auto 1rem auto;
      box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
      z-index: 11; }
    #site .doc_link span,
    #site .gathering_link span,
    #site .network_link span {
      font-style: italic;
      color: #ffcaca;
      padding: 1em;
      z-index: 1; }
  #site footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem 2rem 1rem 2rem;
    font-size: 1rem;
    box-sizing: border-box;
    border-top: 3px solid #ffcaca;
    background-color: #fff;
    z-index: 100; }
    #site footer a:link,
    #site footer a:visited {
      color: #000099;
      padding-right: 2rem; }
  #site #site_credits {
    position: absolute;
    bottom: 1rem;
    right: 0;
    font-size: 0.8rem; }

/*# sourceMappingURL=main.css.map */
