html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* !!! CSS RESET !!! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Colors */
@-webkit-keyframes position_change {
  0% {
    transform: translate(0, 0) rotate(0deg); }
  24% {
    transform: translate(95vw, 0) rotate(0deg); }
  25% {
    transform: translate(95vw, 0) rotate(90deg); }
  49% {
    transform: translate(95vw, 87vh) rotate(90deg); }
  50% {
    transform: translate(95vw, 87vh) rotate(180deg); }
  74% {
    transform: translate(0, calc(87vh)) rotate(180deg); }
  75% {
    transform: translate(0, calc(87vh)) rotate(270deg); }
  99% {
    transform: translate(0, 0) rotate(270deg); }
  100% {
    transform: translate(0, 0) rotate(360deg); } }
@keyframes position_change {
  0% {
    transform: translate(0, 0) rotate(0deg); }
  24% {
    transform: translate(95vw, 0) rotate(0deg); }
  25% {
    transform: translate(95vw, 0) rotate(90deg); }
  49% {
    transform: translate(95vw, 87vh) rotate(90deg); }
  50% {
    transform: translate(95vw, 87vh) rotate(180deg); }
  74% {
    transform: translate(0, calc(87vh)) rotate(180deg); }
  75% {
    transform: translate(0, calc(87vh)) rotate(270deg); }
  99% {
    transform: translate(0, 0) rotate(270deg); }
  100% {
    transform: translate(0, 0) rotate(360deg); } }
@-webkit-keyframes wave {
  0% {
    top: 0; }
  50% {
    top: 1rem; }
  100% {
    top: 0; } }
@keyframes wave {
  0% {
    top: 0; }
  50% {
    top: 2rem; }
  100% {
    top: 0; } }
@-webkit-keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
html {
  font-size: 30px; }

#site {
  font-family: 'Crimson Text', serif;
  padding: 2rem 2rem 4rem 2rem;
  background-color: #fff; }
  #site i {
    font-style: italic; }
  #site header {
    font-size: 4rem;
    color: yellow; }
    #site header span {
      position: fixed;
      width: 3rem;
      height: 3rem;
      text-align: center;
      vertical-align: middle;
      z-index: 1000;
      top: 0;
      left: 0;
      opacity: 0; }
      #site header span:nth-child(1) {
        -webkit-animation: position_change 20s 4.5s linear infinite, wave 2s linear infinite, opacity 0.5s 4.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 4.5s linear infinite, wave 2s linear infinite, opacity 0.5s 4.5s linear forwards; }
      #site header span:nth-child(2) {
        -webkit-animation: position_change 20s 4s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 4s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 4s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 4s linear forwards; }
      #site header span:nth-child(3) {
        -webkit-animation: position_change 20s 3.5s linear infinite, wave 2s linear infinite, opacity 0.5s 3.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 3.5s linear infinite, wave 2s linear infinite, opacity 0.5s 3.5s linear forwards; }
      #site header span:nth-child(4) {
        -webkit-animation: position_change 20s 3s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 3s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 3s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 3s linear forwards; }
      #site header span:nth-child(5) {
        -webkit-animation: position_change 20s 2.5s linear infinite, wave 2s linear infinite, opacity 0.5s 2.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 2.5s linear infinite, wave 2s linear infinite, opacity 0.5s 2.5s linear forwards; }
      #site header span:nth-child(6) {
        -webkit-animation: position_change 20s 2s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 2s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 2s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 2s linear forwards; }
      #site header span:nth-child(7) {
        -webkit-animation: position_change 20s 1.5s linear infinite, wave 2s linear infinite, opacity 0.5s 1.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 1.5s linear infinite, wave 2s linear infinite, opacity 0.5s 1.5s linear forwards; }
      #site header span:nth-child(8) {
        -webkit-animation: position_change 20s 1s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 1s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 1s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 1s linear forwards; }
      #site header span:nth-child(9) {
        -webkit-animation: position_change 20s 0.5s linear infinite, wave 2s linear infinite, opacity 0.5s 0.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 0.5s linear infinite, wave 2s linear infinite, opacity 0.5s 0.5s linear forwards; }
      #site header span:nth-child(10) {
        -webkit-animation: position_change 20s linear infinite, wave 2s 1s linear infinite, opacity 0.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s linear infinite, wave 2s 1s linear infinite, opacity 0.5s linear forwards; }
  #site .text {
    width: 60%;
    color: #000099;
    margin-bottom: 1rem; }
    #site .text h2 {
      text-decoration: underline;
      margin-bottom: 1em; }
    #site .text p, #site .text h2 {
      font-size: 2.3rem; }
    #site .text p {
      margin-bottom: 1rem; }
    #site .text a:link,
    #site .text a:visited {
      display: inline;
      text-decoration: underline;
      color: #000099; }
    #site .text a:hover {
      text-decoration: none; }
    #site .text li {
      position: relative;
      padding-left: 1rem; }
      #site .text li.no_star {
        padding-left: 0; }
        #site .text li.no_star:after {
          display: none; }
      #site .text li:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1rem;
        height: 1rem;
        background-image: url(../images/star.svg);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat; }
  #site #modal_container {
    position: fixed;
    transform: translateY(0%);
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    top: 110%;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    /*background-color: #ee0000;*/
    z-index: 500;
    text-align: center;
    transition: transform ease 0.5s;
    -webkit-transition: transform ease 0.5s; }
    #site #modal_container.show {
      transform: translateY(-110%); }
  #site #open_modal {
    position: relative;
    /*text-decoration: underline;*/
    margin: 0rem 0 4rem 0;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg); }
    #site #open_modal:after {
      content: '';
      left: 0;
      top: -2.8rem;
      position: absolute;
      width: 10rem;
      height: 8.5rem;
      background-image: url(../images/star.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1; }
  #site #no_underline {
    text-decoration: none; }
  #site #open_modal:hover {
    text-decoration: none; }
  #site #close_modal:hover,
  #site #open_modal:hover {
    cursor: pointer; }
  #site #close_modal {
    position: fixed;
    display: none;
    top: 2rem;
    right: 4rem;
    width: 6rem;
    height: 6rem;
    z-index: 2000; }
    #site #close_modal:before, #site #close_modal:after {
      content: '';
      position: absolute;
      width: 100%;
      top: 50%;
      border-bottom: 6px solid #ffe60e; }
    #site #close_modal:before {
      transform: translateY(-50%) rotate(45deg); }
    #site #close_modal:after {
      transform: translateY(-50%) rotate(-45deg); }
  #site .modal {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: #000099;
    box-shadow: 0 0 50px #fff;
    border: 1px solid #000099;
    padding: 15px;
    margin: 2rem 4rem;
    color: #ffcaca; }
    #site .modal a:link,
    #site .modal a:visited {
      color: #ffcaca; }
    #site .modal a:hover {
      text-decoration: none; }
    #site .modal h1 {
      margin-bottom: 1em; }
    #site .modal h2 {
      text-decoration: underline;
      margin-bottom: 1em; }
    #site .modal ul {
      margin-top: 1em; }
    #site .modal:nth-child(2) {
      width: 24.5rem;
      height: 24.5rem;
      border-radius: 12.25rem; }
      #site .modal:nth-child(2)::before {
        content: '';
        height: 100%;
        width: 50%;
        float: left;
        shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
      #site .modal:nth-child(2) > span::before {
        content: '';
        height: 100%;
        width: 50%;
        float: right;
        shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
    #site .modal:nth-child(3) {
      width: 21.7rem;
      height: 21.7rem;
      border-radius: 10.85rem; }
      #site .modal:nth-child(3)::before {
        content: '';
        height: 100%;
        width: 50%;
        float: left;
        shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
      #site .modal:nth-child(3) > span::before {
        content: '';
        height: 100%;
        width: 50%;
        float: right;
        shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
    #site .modal:nth-child(4) {
      width: 10rem; }
    #site .modal:nth-child(5) {
      width: 23.5rem;
      height: 23.5rem;
      border-radius: 11.75rem; }
      #site .modal:nth-child(5)::before {
        content: '';
        height: 100%;
        width: 50%;
        float: left;
        shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
      #site .modal:nth-child(5) > span::before {
        content: '';
        height: 100%;
        width: 50%;
        float: right;
        shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
    #site .modal:nth-child(6) {
      width: 27.5rem;
      height: 27.5rem;
      border-radius: 13.75rem; }
      #site .modal:nth-child(6)::before {
        content: '';
        height: 100%;
        width: 50%;
        float: left;
        shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
      #site .modal:nth-child(6) > span::before {
        content: '';
        height: 100%;
        width: 50%;
        float: right;
        shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
    #site .modal:nth-child(7) {
      width: 20.7rem;
      height: 20.7rem;
      border-radius: 10.35rem; }
      #site .modal:nth-child(7)::before {
        content: '';
        height: 100%;
        width: 50%;
        float: left;
        shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
      #site .modal:nth-child(7) > span::before {
        content: '';
        height: 100%;
        width: 50%;
        float: right;
        shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
    #site .modal:nth-child(8) {
      width: 18rem;
      height: 18rem;
      border-radius: 9rem; }
      #site .modal:nth-child(8)::before {
        content: '';
        height: 100%;
        width: 50%;
        float: left;
        shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
      #site .modal:nth-child(8) > span::before {
        content: '';
        height: 100%;
        width: 50%;
        float: right;
        shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
  #site .images {
    position: fixed;
    top: 0rem;
    right: 2rem;
    padding-top: 2rem;
    width: 35%;
    height: auto;
    border-left: 3px solid #ffe60e;
    padding-left: 3%; }
    #site .images #spacer {
      height: 6rem; }
    #site .images img {
      display: block;
      width: 100%;
      margin-bottom: 1rem; }
  #site footer {
    width: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    background-color: #fff;
    border-top: 3px solid #ffcaca; }
    #site footer h2 {
      font-size: 3rem;
      color: #000099;
      text-transform: uppercase; }

@media screen and (max-width: 1900px) {
  html {
    font-size: 26px; } }
@media screen and (max-width: 1600px) {
  html {
    font-size: 24px; } }
@media screen and (max-width: 1350px) {
  html {
    font-size: 22px; } }
@media screen and (max-width: 1280px) {
  html {
    font-size: 20px; } }
@media screen and (max-width: 850px) {
  html {
    font-size: 18px; }

  #site .modal:nth-child(2) {
    width: 24.5rem;
    height: 24.5rem;
    border-radius: 12.25rem; }
    #site .modal:nth-child(2)::before {
      content: '';
      height: 100%;
      width: 50%;
      float: left;
      shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
    #site .modal:nth-child(2) > span::before {
      content: '';
      height: 100%;
      width: 50%;
      float: right;
      shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
  #site .modal:nth-child(3) {
    width: 21.7rem;
    height: 21.7rem;
    border-radius: 10.85rem; }
    #site .modal:nth-child(3)::before {
      content: '';
      height: 100%;
      width: 50%;
      float: left;
      shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
    #site .modal:nth-child(3) > span::before {
      content: '';
      height: 100%;
      width: 50%;
      float: right;
      shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
  #site .modal:nth-child(4) {
    width: 10rem; }
  #site .modal:nth-child(5) {
    width: 23.5rem;
    height: 23.5rem;
    border-radius: 11.75rem; }
    #site .modal:nth-child(5)::before {
      content: '';
      height: 100%;
      width: 50%;
      float: left;
      shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
    #site .modal:nth-child(5) > span::before {
      content: '';
      height: 100%;
      width: 50%;
      float: right;
      shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
  #site .modal:nth-child(6) {
    width: 27.5rem;
    height: 27.5rem;
    border-radius: 13.75rem; }
    #site .modal:nth-child(6)::before {
      content: '';
      height: 100%;
      width: 50%;
      float: left;
      shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
    #site .modal:nth-child(6) > span::before {
      content: '';
      height: 100%;
      width: 50%;
      float: right;
      shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
  #site .modal:nth-child(7) {
    width: 20.7rem;
    height: 20.7rem;
    border-radius: 10.35rem; }
    #site .modal:nth-child(7)::before {
      content: '';
      height: 100%;
      width: 50%;
      float: left;
      shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
    #site .modal:nth-child(7) > span::before {
      content: '';
      height: 100%;
      width: 50%;
      float: right;
      shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
  #site .modal:nth-child(8) {
    width: 18rem;
    height: 18rem;
    border-radius: 9rem; }
    #site .modal:nth-child(8)::before {
      content: '';
      height: 100%;
      width: 50%;
      float: left;
      shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
    #site .modal:nth-child(8) > span::before {
      content: '';
      height: 100%;
      width: 50%;
      float: right;
      shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); } }
@media screen and (max-width: 780px) {
  html {
    font-size: 16px; }

  #site .text {
    width: 100%;
    /*text-shadow: 0px 0px 5px #fff;*/ }
  #site .modal:nth-child(2) {
    width: 25rem;
    height: 25rem;
    border-radius: 12.5rem; }
    #site .modal:nth-child(2)::before {
      content: '';
      height: 100%;
      width: 50%;
      float: left;
      shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
    #site .modal:nth-child(2) > span::before {
      content: '';
      height: 100%;
      width: 50%;
      float: right;
      shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
  #site .modal:nth-child(3) {
    width: 22rem;
    height: 22rem;
    border-radius: 11rem; }
    #site .modal:nth-child(3)::before {
      content: '';
      height: 100%;
      width: 50%;
      float: left;
      shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
    #site .modal:nth-child(3) > span::before {
      content: '';
      height: 100%;
      width: 50%;
      float: right;
      shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
  #site .modal:nth-child(4) {
    width: 10rem; }
  #site .modal:nth-child(5) {
    width: 24rem;
    height: 24rem;
    border-radius: 12rem; }
    #site .modal:nth-child(5)::before {
      content: '';
      height: 100%;
      width: 50%;
      float: left;
      shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
    #site .modal:nth-child(5) > span::before {
      content: '';
      height: 100%;
      width: 50%;
      float: right;
      shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
  #site .modal:nth-child(6) {
    width: 28rem;
    height: 28rem;
    border-radius: 14rem; }
    #site .modal:nth-child(6)::before {
      content: '';
      height: 100%;
      width: 50%;
      float: left;
      shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
    #site .modal:nth-child(6) > span::before {
      content: '';
      height: 100%;
      width: 50%;
      float: right;
      shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
  #site .modal:nth-child(7) {
    width: 21.1rem;
    height: 21.1rem;
    border-radius: 10.55rem; }
    #site .modal:nth-child(7)::before {
      content: '';
      height: 100%;
      width: 50%;
      float: left;
      shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
    #site .modal:nth-child(7) > span::before {
      content: '';
      height: 100%;
      width: 50%;
      float: right;
      shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
  #site .modal:nth-child(8) {
    width: 18.1rem;
    height: 18.1rem;
    border-radius: 9.05rem; }
    #site .modal:nth-child(8)::before {
      content: '';
      height: 100%;
      width: 50%;
      float: left;
      shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
    #site .modal:nth-child(8) > span::before {
      content: '';
      height: 100%;
      width: 50%;
      float: right;
      shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
  #site .images {
    position: fixed;
    top: 0rem;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: -10; }
    #site .images #spacer {
      height: 6rem; }
    #site .images img {
      padding: 1rem;
      opacity: 0.4;
      display: block;
      width: 40%;
      margin-bottom: 1rem; }
      #site .images img:nth-child(even) {
        margin-left: 60%; } }
@media screen and (max-width: 700px) {
  html {
    font-size: 14px; }

  #site {
    padding-bottom: 6rem; }
    #site header {
      display: none; }
    #site footer h2 {
      font-size: 2.5rem; }
    #site #close_modal {
      top: 1rem;
      right: 1rem; }
    #site .modal {
      font-size: 1.4rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
      #site .modal:nth-child(2) {
        width: 34rem;
        height: 34rem;
        border-radius: 17rem; }
        #site .modal:nth-child(2)::before {
          content: '';
          height: 100%;
          width: 50%;
          float: left;
          shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
        #site .modal:nth-child(2) > span::before {
          content: '';
          height: 100%;
          width: 50%;
          float: right;
          shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
      #site .modal:nth-child(3) {
        width: 29.5rem;
        height: 29.5rem;
        border-radius: 14.75rem; }
        #site .modal:nth-child(3)::before {
          content: '';
          height: 100%;
          width: 50%;
          float: left;
          shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
        #site .modal:nth-child(3) > span::before {
          content: '';
          height: 100%;
          width: 50%;
          float: right;
          shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
      #site .modal:nth-child(4) {
        width: 16rem; }
      #site .modal:nth-child(5) {
        width: 32rem;
        height: 32rem;
        border-radius: 16rem; }
        #site .modal:nth-child(5)::before {
          content: '';
          height: 100%;
          width: 50%;
          float: left;
          shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
        #site .modal:nth-child(5) > span::before {
          content: '';
          height: 100%;
          width: 50%;
          float: right;
          shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
      #site .modal:nth-child(6) {
        width: 38rem;
        height: 38rem;
        border-radius: 19rem; }
        #site .modal:nth-child(6)::before {
          content: '';
          height: 100%;
          width: 50%;
          float: left;
          shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
        #site .modal:nth-child(6) > span::before {
          content: '';
          height: 100%;
          width: 50%;
          float: right;
          shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
      #site .modal:nth-child(7) {
        width: 28.7rem;
        height: 28.7rem;
        border-radius: 14.35rem; }
        #site .modal:nth-child(7)::before {
          content: '';
          height: 100%;
          width: 50%;
          float: left;
          shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
        #site .modal:nth-child(7) > span::before {
          content: '';
          height: 100%;
          width: 50%;
          float: right;
          shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
      #site .modal:nth-child(8) {
        width: 25rem;
        height: 25rem;
        border-radius: 12.5rem; }
        #site .modal:nth-child(8)::before {
          content: '';
          height: 100%;
          width: 50%;
          float: left;
          shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
        #site .modal:nth-child(8) > span::before {
          content: '';
          height: 100%;
          width: 50%;
          float: right;
          shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
      #site .modal:nth-child(9) {
        width: 90%; }
    #site .images {
      opacity: 0; }
      #site .images #spacer {
        height: 4rem; }
      #site .images img {
        display: none; } }
@media screen and (max-width: 555px) {
  html {
    font-size: 12px; }

  #site header {
    display: none; }
  #site footer h2 {
    font-size: 2.5rem; }
  #site .modal {
    font-size: 1.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
    #site .modal:nth-child(1) {
      width: 90%;
      height: auto; }
    #site .modal:nth-child(2) {
      padding: 3rem;
      width: 60%;
      height: auto; }
    #site .modal:nth-child(3) {
      width: 0;
      height: 0;
      border-radius: 0;
      width: 80%;
      height: auto; }
      #site .modal:nth-child(3)::before {
        content: '';
        height: 100%;
        width: 50%;
        float: left;
        shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
      #site .modal:nth-child(3) > span::before {
        content: '';
        height: 100%;
        width: 50%;
        float: right;
        shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
    #site .modal:nth-child(4) {
      width: 45%; }
    #site .modal:nth-child(5) {
      padding: 4rem;
      width: 80%;
      height: auto; }
    #site .modal:nth-child(6) {
      width: 0;
      height: 0;
      border-radius: 0;
      width: 90%;
      height: auto; }
      #site .modal:nth-child(6)::before {
        content: '';
        height: 100%;
        width: 50%;
        float: left;
        shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
      #site .modal:nth-child(6) > span::before {
        content: '';
        height: 100%;
        width: 50%;
        float: right;
        shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
    #site .modal:nth-child(7) {
      width: 28.7rem;
      height: 28.7rem;
      border-radius: 14.35rem;
      width: 70%;
      height: auto;
      padding: 4rem; }
      #site .modal:nth-child(7)::before {
        content: '';
        height: 100%;
        width: 50%;
        float: left;
        shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
      #site .modal:nth-child(7) > span::before {
        content: '';
        height: 100%;
        width: 50%;
        float: right;
        shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); }
    #site .modal:nth-child(8) {
      width: 0;
      height: 0;
      border-radius: 0;
      width: 60%;
      height: auto; }
      #site .modal:nth-child(8)::before {
        content: '';
        height: 100%;
        width: 50%;
        float: left;
        shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%); }
      #site .modal:nth-child(8) > span::before {
        content: '';
        height: 100%;
        width: 50%;
        float: right;
        shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%); } }
@media screen and (max-width: 450px) {
  html {
    font-size: 11px; }

  #site {
    padding-left: 1rem;
    padding-right: 1rem; }
    #site header {
      display: none; }
    #site footer h2 {
      font-size: 2rem; }
    #site .modal {
      font-size: 1.6rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      width: 90% !important;
      height: auto !important; } }

/*# sourceMappingURL=main.css.map */
