html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* !!! CSS RESET !!! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Colors */
/* Font Sizes */
#site.about {
  background-color: #000099;
  color: #fff;
  text-align: center; }
#site #contact_info {
  margin: auto;
  margin-top: 2.3rem;
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2em;
  display: block;
  width: 70%;
  /*transform: translate(-50%, 0);*/
  text-align: center; }
  #site #contact_info a:link,
  #site #contact_info a:visited {
    color: #fff; }
  #site #contact_info a:hover {
    text-decoration: none; }
#site #about_background {
  max-width: 80vw;
  max-height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  border: 3px solid #000099; }
#site .modal_container {
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 10;
  width: 33.33%;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  /*columns: 3;*/ }
  #site .modal_container img {
    display: block;
    margin: 1rem auto 0 auto;
    width: 50%; }
#site .modal_heading {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: 'Crimson Text', serif;
  padding-left: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffe60e;
  background-color: #000099;
  font-size: 2rem;
  /*text-shadow: 0.1rem 0.1rem 0px $pink;*/
  /*border: 3px solid $pink;*/
  /*display: inline-block;*/
  width: auto;
  /*border-radius: 10rem;*/
  /*-webkit-border-radius: 10rem;*/ }
#site .modal {
  display: block;
  vertical-align: middle;
  text-align: left;
  /*box-shadow: 0 0 50px #fff;*/
  /*border: 3px solid $dark_blue;*/
  font-size: 1rem;
  line-height: 1.15em;
  padding: 0.65rem;
  margin: 0rem 0;
  width: 100%;
  color: #fff; }
  #site .modal a:link,
  #site .modal a:visited {
    color: #fff; }
  #site .modal a:hover {
    text-decoration: none; }
  #site .modal h1 {
    margin-bottom: 1em; }
  #site .modal h2 {
    font-style: italic;
    color: #ffe60e;
    font-weight: 600;
    text-shadow: 0.07rem 0.07rem 0px #000099;
    margin-bottom: 0.3em;
    font-size: 1.1rem;
    line-height: 1.1em; }
  #site .modal p,
  #site .modal ul {
    margin-bottom: 1em;
    /*font-size: 0.8rem;
    line-height: 1.4em;*/ }
  #site .modal ul {
    list-style-type: circle;
    padding-left: 1rem;
    /*margin-top: 1em;*/ }
    #site .modal ul li {
      margin-bottom: 0.2em; }
  #site .modal ol {
    list-style-type: decimal;
    padding-left: 1rem; }
    #site .modal ol li {
      margin-bottom: 0.2em; }

@media (max-width: 960px) {
  #site #modal_container {
    columns: 2; } }
@media (max-width: 800px) {
  #site #modal_container {
    columns: 1;
    width: 65%; } }
@-webkit-keyframes position_change {
  0% {
    transform: translate(0, 0) rotate(0deg); }
  24% {
    transform: translate(95vw, 0) rotate(0deg); }
  25% {
    transform: translate(95vw, 0) rotate(90deg); }
  49% {
    transform: translate(95vw, 82vh) rotate(90deg); }
  50% {
    transform: translate(95vw, 82vh) rotate(180deg); }
  74% {
    transform: translate(0, calc(82vh)) rotate(180deg); }
  75% {
    transform: translate(0, calc(82vh)) rotate(270deg); }
  99% {
    transform: translate(0, 0) rotate(270deg); }
  100% {
    transform: translate(0, 0) rotate(360deg); } }
@keyframes position_change {
  0% {
    transform: translate(0, 0) rotate(0deg); }
  24% {
    transform: translate(95vw, 0) rotate(0deg); }
  25% {
    transform: translate(95vw, 0) rotate(90deg); }
  49% {
    transform: translate(95vw, 82vh) rotate(90deg); }
  50% {
    transform: translate(95vw, 82vh) rotate(180deg); }
  74% {
    transform: translate(0, calc(82vh)) rotate(180deg); }
  75% {
    transform: translate(0, calc(82vh)) rotate(270deg); }
  99% {
    transform: translate(0, 0) rotate(270deg); }
  100% {
    transform: translate(0, 0) rotate(360deg); } }
@-webkit-keyframes wave {
  0% {
    top: 0; }
  50% {
    top: 1rem; }
  100% {
    top: 0; } }
@keyframes wave {
  0% {
    top: 0; }
  50% {
    top: 2rem; }
  100% {
    top: 0; } }
@-webkit-keyframes opacity {
  0% {
    top: 0; }
  50% {
    top: 2rem; }
  100% {
    top: 0; } }
@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes show {
  0% {
    opacity: 0; }
  32% {
    opacity: 0; }
  33% {
    opacity: 1; }
  65% {
    opacity: 1; }
  66% {
    opacity: 0; } }
@keyframes show {
  0% {
    opacity: 0; }
  32% {
    opacity: 0; }
  33% {
    opacity: 1; }
  65% {
    opacity: 1; }
  66% {
    opacity: 0; } }
html {
  font-size: 22px; }

#site {
  font-family: 'Crimson Text', serif;
  padding: 0 0 2rem 0;
  background-color: #000099;
  color: #fff; }
  #site i {
    font-style: italic; }
  #site header {
    font-size: 4rem;
    color: yellow; }
    #site header span {
      position: fixed;
      width: 3rem;
      height: 3rem;
      text-align: center;
      vertical-align: middle;
      z-index: 8;
      top: 0;
      left: 0;
      opacity: 0; }
      #site header span:nth-child(1) {
        -webkit-animation: position_change 20s 4.5s linear infinite, wave 2s linear infinite, opacity 0.5s 4.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 4.5s linear infinite, wave 2s linear infinite, opacity 0.5s 4.5s linear forwards; }
      #site header span:nth-child(2) {
        -webkit-animation: position_change 20s 4s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 4s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 4s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 4s linear forwards; }
      #site header span:nth-child(3) {
        -webkit-animation: position_change 20s 3.5s linear infinite, wave 2s linear infinite, opacity 0.5s 3.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 3.5s linear infinite, wave 2s linear infinite, opacity 0.5s 3.5s linear forwards; }
      #site header span:nth-child(4) {
        -webkit-animation: position_change 20s 3s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 3s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 3s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 3s linear forwards; }
      #site header span:nth-child(5) {
        -webkit-animation: position_change 20s 2.5s linear infinite, wave 2s linear infinite, opacity 0.5s 2.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 2.5s linear infinite, wave 2s linear infinite, opacity 0.5s 2.5s linear forwards; }
      #site header span:nth-child(6) {
        -webkit-animation: position_change 20s 2s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 2s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 2s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 2s linear forwards; }
      #site header span:nth-child(7) {
        -webkit-animation: position_change 20s 1.5s linear infinite, wave 2s linear infinite, opacity 0.5s 1.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 1.5s linear infinite, wave 2s linear infinite, opacity 0.5s 1.5s linear forwards; }
      #site header span:nth-child(8) {
        -webkit-animation: position_change 20s 1s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 1s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 1s linear infinite, wave 2s 1s linear infinite, opacity 0.5s 1s linear forwards; }
      #site header span:nth-child(9) {
        -webkit-animation: position_change 20s 0.5s linear infinite, wave 2s linear infinite, opacity 0.5s 0.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s 0.5s linear infinite, wave 2s linear infinite, opacity 0.5s 0.5s linear forwards; }
      #site header span:nth-child(10) {
        -webkit-animation: position_change 20s linear infinite, wave 2s 1s linear infinite, opacity 0.5s linear forwards;
        /* Safari 4+ */
        animation: position_change 20s linear infinite, wave 2s 1s linear infinite, opacity 0.5s linear forwards; }
  #site #intro_container {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    /*background-image: url('../images/homepage/megaphone.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top center;*/ }
  #site #website_intro {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding-left: 2rem; }
  #site #open_modal {
    position: relative;
    float: left;
    font-size: 2rem;
    /*text-decoration: underline;*/
    margin: 1rem 0 4rem 2rem;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    text-decoration: none;
    color: #fff; }
    #site #open_modal:after {
      content: '';
      left: 0.4rem;
      top: -4rem;
      position: absolute;
      width: 9rem;
      height: 11rem;
      background-image: url(../images/star.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1; }
  #site #clipboard_close {
    position: fixed;
    right: 3rem;
    top: 3rem;
    width: 3rem; }
    #site #clipboard_close:hover {
      cursor: pointer; }
  #site #featured_content {
    position: absolute;
    z-index: 10;
    display: none;
    vertical-align: top;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*margin-top: 7rem;*/
    /*margin-bottom: 5rem;*/
    padding-bottom: 3rem;
    width: 50%;
    border: 3px solid #ffe60e;
    border-radius: 0.5rem;
    background-color: #000099; }
    #site #featured_content:after {
      content: '';
      position: absolute;
      bottom: 5%;
      left: 5%;
      width: 90%;
      height: 10rem;
      border-radius: 0.5rem;
      background-image: url(../images/homepage/peeling_clipboard-01.png);
      background-size: contain;
      background-position: bottom center;
      background-color: #000099;
      background-repeat: no-repeat;
      z-index: -10; }
    #site #featured_content:before {
      content: '';
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: calc(90% - 8rem);
      border-radius: 0.5rem;
      background-color: #f9cbdf;
      background-repeat: no-repeat;
      z-index: -8; }
  #site #clipboard_top {
    display: block;
    width: 60%;
    margin: -5rem auto 0 auto; }
  #site .bulliten_heading {
    text-align: center;
    font-size: 1.5rem;
    color: #000099;
    margin-bottom: 0.5rem; }
  #site .bulliten_link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 1.4em;
    width: 60%;
    display: block;
    color: #000099;
    margin: 1rem auto;
    position: relative;
    /*line-height: 1.35em;*/
    text-decoration: none; }
    #site .bulliten_link:before {
      content: '';
      position: absolute;
      top: 0.08rem;
      left: -1.5rem;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: 3px solid #000099; }
    #site .bulliten_link:hover:before {
      background-color: #000099; }
  #site #megaphone {
    position: absolute;
    top: 3rem;
    right: 20%;
    width: 8rem; }
    #site #megaphone img {
      width: 100%; }
  #site #featured_content_link {
    position: absolute;
    top: 10rem;
    right: 3rem;
    width: 7rem;
    transform: rotate(10deg); }
    #site #featured_content_link:hover {
      cursor: pointer; }
  #site .press_text {
    font-family: 'Crimson Text', serif;
    color: #f9cbdf;
    position: absolute;
    opacity: 0;
    /*text-transform: uppercase;*/
    letter-spacing: 0.2em; }
    #site .press_text:nth-child(2) {
      top: 10%;
      left: 10%;
      transform: rotate(-15deg);
      animation: show 3s 0s infinite; }
    #site .press_text:nth-child(3) {
      top: 20%;
      right: -25%;
      transform: rotate(30deg);
      animation: show 3s 1s infinite; }
    #site .press_text:nth-child(4) {
      bottom: 3%;
      right: 15%;
      transform: rotate(-5deg);
      animation: show 3s 2s infinite; }
  #site #archive_link_down {
    clear: both;
    display: block;
    /*padding-top: 2rem;*/
    margin-top: -3rem;
    margin-bottom: 4rem;
    width: 35%;
    margin-left: auto;
    margin-right: auto; }
    #site #archive_link_down:hover {
      cursor: pointer; }
  #site #clipboard_heading {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    color: #ffe60e;
    text-shadow: 0.1rem 0.1rem 0px #000099; }
    #site #clipboard_heading span {
      display: inline-block;
      vertical-align: top; }
      #site #clipboard_heading span:nth-child(even) {
        margin-top: 0.45rem; }
  #site #projects_container {
    width: 100%;
    /*border-top: 3px solid $dark_blue;
    border-left: 3px solid $dark_blue;
    border-right: 3px solid $dark_blue;*/
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 100; }
  #site.locked #project_section_header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #000099;
    border-bottom: 3px solid #f9cbdf; }
  #site.locked .project_section {
    padding-top: 3rem; }
    #site.locked .project_section:nth-child(3) {
      border-right: 3px solid #ffe60e;
      border-left: 3px solid #ffe60e; }
  #site .project_section {
    vertical-align: top;
    clear: both;
    display: inline-block;
    width: 33.33%;
    box-sizing: border-box; }
    #site .project_section:nth-child(3) {
      border-right: 3px solid #000099;
      border-left: 3px solid #000099;
      transition: border-left ease 0.7s, border-right ease 0.7s; }
  #site #project_section_header_container {
    position: relative;
    border-bottom: 3px solid transparent;
    transition: border-bottom ease 0.7s;
    background-color: #000099; }
  #site .project_section_header {
    display: inline-block;
    width: 33.33%;
    padding: 1rem 0;
    /*border-bottom: 3px solid $dark_blue;*/
    text-transform: uppercase; }
  #site .doc_link,
  #site .gathering_link,
  #site .network_link {
    display: block;
    position: relative;
    margin: 0 auto;
    text-decoration: none;
    width: 100%; }
    #site .doc_link:hover span,
    #site .gathering_link:hover span,
    #site .network_link:hover span {
      opacity: 1; }
    #site .doc_link img,
    #site .gathering_link img,
    #site .network_link img {
      display: block;
      width: 100%;
      margin: 0 auto;
      /*box-shadow: 0.2rem 0.2rem 1rem rgba(0,0,0,0.5);*/
      z-index: 11; }
    #site .doc_link span,
    #site .gathering_link span,
    #site .network_link span {
      /*font-family: 'IBM Plex Sans', sans-serif;*/
      text-transform: uppercase;
      position: absolute;
      left: 0;
      top: 0;
      font-style: italic;
      font-weight: 600;
      color: #fff;
      padding: 1em;
      z-index: 1;
      opacity: 0;
      width: 100%;
      font-size: 2rem;
      text-shadow: 0.1rem 0.1rem 0px #000099;
      /*background-color: $dark_blue;*/
      transition: opacity ease 0.3s; }
  #site footer {
    /*font-family: 'IBM Plex Sans', sans-serif;*/
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem 2rem 1rem 2rem;
    font-size: 1rem;
    box-sizing: border-box;
    border-top: 3px solid #f9cbdf;
    background-color: #000099;
    z-index: 100; }
    #site footer a:link,
    #site footer a:visited {
      color: #fff;
      padding-right: 2rem; }
    #site footer a:hover {
      text-decoration: none; }
    #site footer #support_us {
      position: absolute;
      right: 0;
      /*text-transform: uppercase;*/ }
  #site #site_credits {
    position: absolute;
    bottom: 1rem;
    right: 0;
    font-size: 0.8rem; }

@media (max-width: 1140px) {
  html {
    font-size: 20px; } }
@media (max-width: 1050px) {
  html {
    font-size: 18px; } }
@media (max-width: 1000px) {
  html {
    font-size: 16px; } }
@media (max-width: 960px) {
  #site #intro_container {
    width: 100%; }
  #site #website_intro {
    width: 50%; }
  #site #megaphone {
    width: 20%;
    margin-top: -11%;
    margin-right: 25%; }
  #site #archive_link_down {
    width: 30%; }
  #site #featured_content {
    margin-top: -6rem;
    margin-left: 45%; } }
@media (max-width: 767px) {
  #site #website_intro {
    width: 100%; }
  #site header {
    display: none; }
  #site #modal_container {
    margin-top: 6rem;
    width: calc(100% - 2rem); }
  #site .modal {
    padding: 0; }
  #site #home_link {
    top: 1rem !important;
    left: 1rem !important; }
  #site #nav_background {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000099;
    border-bottom: 3px solid #fff;
    width: 100%;
    height: 4.8rem;
    z-index: 11; }
  #site #hamburger {
    top: 0.65rem !important;
    right: 1rem !important; } }
#site.about #home_link {
  background-color: #000099;
  border: 3px solid #fff;
  color: #fff; }
#site.nav_show #home_link {
  background-color: #000099;
  border: 3px solid #fff;
  color: #fff; }
#site #home_link {
  position: fixed;
  top: 2rem;
  left: 2rem;
  background-color: #fff;
  border: 3px solid #000099;
  border-radius: 0.5rem;
  /*font-size: $large_type;*/
  font-size: 1.5rem;
  color: #000099;
  text-decoration: none;
  padding: 0.35rem 0.5rem 0.5rem 0.5rem;
  z-index: 2000; }
  #site #home_link:hover {
    cursor: pointer;
    background-color: #ffe60e;
    color: #000099;
    border: 3px solid #ffe60e; }
#site.about #hamburger {
  background-image: url(../images/index-01.svg); }
#site #hamburger {
  position: fixed;
  top: 1rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  background-image: url(../images/index-01.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 99; }
  #site #hamburger:hover {
    cursor: pointer; }
#site.nav_show #hamburger {
  background-image: url(../images/index-02.svg);
  z-index: 2000; }

#site #site_navigation {
  position: fixed;
  top: -3px;
  bottom: 0;
  overflow-y: auto;
  left: 0;
  right: 0;
  border-top: 3px solid #ffe60e;
  background-color: #000099;
  z-index: 1500;
  transform: translateY(101%);
  transition: transform ease 0.5s;
  color: #f9cbdf;
  text-align: center;
  padding-top: 2.35rem; }
#site #nav_heading {
  font-size: 2rem;
  font-style: italic; }
#site .nav_column {
  display: inline-block;
  width: 33.3%;
  padding: 1rem 0;
  border-top: 3px solid #ffe60e;
  text-align: center;
  /*border-bottom: 3px solid $yellow;*/
  margin-top: 5rem; }
  #site .nav_column:nth-of-type(2) {
    border-left: 3px solid #ffe60e;
    border-right: 3px solid #ffe60e; }
#site.nav_show #nav_about_link {
  display: block; }
#site #nav_about_link {
  display: none;
  position: fixed;
  bottom: 0rem;
  left: 1rem;
  font-size: 2rem;
  /*text-decoration: underline;*/
  margin: 1rem 0 4rem 2rem;
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  text-decoration: none;
  color: #fff;
  z-index: 10000; }
  #site #nav_about_link:after {
    content: '';
    left: -1.4rem;
    top: -4.1rem;
    position: absolute;
    width: 9rem;
    height: 11rem;
    background-image: url(../images/star.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1; }
#site .nav_sub_heading {
  text-transform: uppercase;
  margin-top: -3rem;
  margin-bottom: 3rem;
  text-align: center; }
#site .nav_link {
  display: inline-block;
  text-decoration: none;
  color: #f9cbdf;
  position: relative;
  margin: 1rem; }
  #site .nav_link.selected:after, #site .nav_link:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 180%;
    border-radius: 50%;
    border: 3px solid #ffe60e;
    left: 0%;
    top: -40%;
    transform: rotate(-5deg); }
#site.nav_show #site_navigation {
  transform: translateY(0); }

#site.project {
  background-color: #f9cbdf;
  color: #000099;
  margin-bottom: 2rem; }
#site .desktop_project_images {
  display: block;
  position: absolute;
  /*top: 15rem;*/
  left: 0;
  width: calc(55% - 2rem); }
  #site .desktop_project_images img {
    width: 100%; }
#site .project_image.mobile {
  display: none; }
#site #project_container {
  margin-top: 2.25rem;
  margin-bottom: 4rem; }
#site #project_title {
  display: block;
  text-align: left;
  width: 70%;
  margin: auto;
  font-size: 2.2rem;
  font-style: italic;
  color: #ffe60e;
  text-shadow: 0.1rem 0.1rem 0px #000099; }
#site #project_subheading {
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: justify;
  width: 70%;
  margin: auto;
  font-size: 1.5rem; }
#site img.project_image {
  display: block;
  margin-bottom: 2rem; }
  #site img.project_image.full {
    margin-left: auto;
    margin-right: auto;
    width: 70%; }
  #site img.project_image.left {
    margin-left: 0;
    width: 60%; }
  #site img.project_image.right {
    margin-left: 40%;
    width: 60%; }
#site h2.project_heading {
  display: block;
  font-size: 1rem;
  width: 30%;
  margin-left: 55%;
  margin-bottom: 1em; }
  #site h2.project_heading em {
    font-style: italic; }
  #site h2.project_heading strong {
    font-weight: 600; }
#site p.project_text,
#site p.caption {
  display: block;
  width: 30%;
  margin-left: 55%;
  text-align: left;
  /*margin:auto;*/
  font-size: 1rem;
  margin-bottom: 2rem; }
  #site p.project_text em,
  #site p.caption em {
    font-style: italic; }
  #site p.project_text strong,
  #site p.caption strong {
    font-weight: 600; }
#site p.project_text {
  /*column-count: 3;*/ }

/*# sourceMappingURL=main.css.map */
